<div class="attendance admin">
  <div class="container">

    <div class="d-flex justify-content-between px-1">
      <h3 class="page-heading">Attendance</h3>
      <div class="">
        <button class="btn btn-add" (click)="exportToPDF()"> <i class="fa-solid fa-download"></i> Download report</button>
      </div>
    </div>

    <div class="card white-bg-card">



      <div class="filters-container">
        <span class="filter-text">Filters <i class="fa-solid fa-filter"></i></span>
        <!-- <div class="wrap">
          <input type="text" class="form-control" name="name" [(ngModel)]="filters.idNumber" (keyup.enter)="getAttendance()" placeholder="Enter ID number" autocomplete="off">
        </div> -->

        <div class="wrap">
          <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" name="date" [(ngModel)]="filters.startDate" (change)="getAttendance()" placeholder="Enter start date" autocomplete="off">
        </div>

        <div class="wrap">
          <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" name="date" [(ngModel)]="filters.endDate" (change)="getAttendance()" placeholder="Enter end date" autocomplete="off">
        </div>

        <!-- <div class="wrap">
          <select class="form-control" name="status" [(ngModel)]="filters.status" (change)="getAttendance()">
            <option value="">All statuses</option>
            <option value="CHECK_IN">Check in</option>
            <option value="CHECK_OUT">Check out</option>
          </select>
        </div> -->
        <div class="wrap">
          <button class="btn btn-search" (click)="getAttendance()"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
          <button class="btn btn-clear" (click)="clearFilters()"><u>Clear</u></button>
        </div>
      </div>

      <table class="table table-responsive-sm" id="content">
        <thead>
          <tr>
            <th col="colspan">Name</th>
            <!-- <th col="colspan" *ngIf="!hideColumns" [@fadeIn]>Phone number</th> -->
            <!-- <th col="colspan">Current status</th> -->
            <th col="colspan">Department</th>
            <th col="colspan">Date</th>
            <th col="colspan">Check in</th>
            <th col="colspan">Check out</th>
            <th col="colspan">Regular hours </th>
            <th col="colspan">Overtime</th>

          </tr>
        </thead>
        <tbody *ngIf="attendanceList.length && !loadAttendance" [@fadeIn]>
          <tr *ngFor="let attendance of attendanceList | paginate: { itemsPerPage, currentPage: page, totalItems };index as i ">
            <td>
              <span class="d-block mb-1">
                {{attendance?.name}}
              </span>

              <span *ngIf="!hideColumns" [@fadeIn] class="redirect-link">
                <!-- (click)="filters.idNumber = attendance.user?.idNumber;getAttendance()" -->
                {{attendance?.idNumber}}
              </span>
            </td>
            <td>{{attendance?.user?.department}}</td>
            <!-- <td *ngIf="!hideColumns" [@fadeIn]> {{attendance.user?.phoneNumber}} </td> -->
            <!-- <td> <span class="font-weight-bold" [ngClass]="attendance.status === 'CHECK_IN' ? 'green-text' : 'red-text'">{{attendance.attendances[0].status.replace('_',' ')}}</span> </td> -->
            <td>{{attendance.date === today ? 'Today' : attendance.date | date : 'MMM d, y'}}</td>
            <td>{{attendance?.attendances[0]?.checkInTime?.substring(0,5) ?? '—'  }}</td>
            <td>{{!attendance?.attendances[0]?.checkOutTime ? '—' : attendance?.attendances[0]?.checkOutTime?.substring(0,5) }}</td>
            <td>{{attendance?.workHours}}</td>
            <td>{{attendance?.overtime }}</td>
          </tr>
        </tbody>

      </table>


      <div class="text-center my-5" *ngIf="!attendanceList.length && !loadAttendance" [@fadeIn]>
        <span class="text-muted">No attendance yet for the selected date</span>
      </div>


      <div class="wrapper" *ngIf="loadAttendance" [@fadeIn]>
        <div class="spinner"></div>
      </div>


      <div class="pagination-controls">
        <pagination-controls (pageChange)="getAttendance((page = $event),'reload')" [maxSize]="7" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="">
        </pagination-controls>
      </div>
    </div>

  </div>

</div>
