<div class="users admin">
  <div class="container">

    <div class="d-flex justify-content-between">
      <h3 class="page-heading">Users</h3>
      <div class="">
        <button class="btn btn-add-secondary" data-toggle="modal" data-target="#addUserModal" (click)="resetUser()"> <i class="fa-solid fa-plus"></i> Add user</button>
        <!-- <button class="btn btn-add" (click)="exportToPDF()"> <i class="fa-solid fa-download"></i> Download report</button> -->

      </div>
    </div>

    <div class="card white-bg-card">
      <table class="table table-responsive-sm" id="content">
        <thead>
          <tr>
            <th col="colspan">Name</th>
            <!-- <th col="colspan" *ngIf="!hideColumns" [@fadeIn]>Phone number</th> -->
            <th col="colspan" *ngIf="!hideColumns" [@fadeIn]>Contact</th>
            <!-- <th col="colspan">Gender</th> -->
            <th col="colspan">Department</th>
            <th col="colspan">Role</th>
            <!-- <th col="colspan">Regular hours</th> -->
            <!-- <th col="colspan">Overtime</th> -->
            <th col="colspan" *ngIf="!hideColumns" [@fadeIn]>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="users.length && !loadUsers" [@fadeIn]>
          <tr *ngFor="let user of users | paginate: { itemsPerPage, currentPage: page, totalItems };index as i ">
            <td>
              <span class="d-block mb-1">
                {{user.name}}
              </span>

              <span *ngIf="!hideColumns" [@fadeIn] class="redirect-link" [routerLink]="'/admin/attendance'" [queryParams]="{ idNumber:user.idNumber}">
                {{user.idNumber}}
              </span>
            </td>

            <td *ngIf="!hideColumns" [@fadeIn]>
              <span class="d-block mb-1">{{user.email}}</span>
              <span class="d-block text-muted">{{user.phoneNumber | maskNumber}}</span>
            </td>
            <td>
              <span class="d-block mb-1"> {{user.department === 'IT' ? user.department : user.department?.replace('_','-')}}</span>
              <span class="d-block text-muted" *ngIf="!hideColumns" [@fadeIn]>{{user.gender | titlecase}}</span>
            </td>
            <td>
              <span class="role" [ngClass]="user.role === 'ADMIN' ? 'orange-text' : 'green-text'">
                {{user.role}}
              </span>
            </td>
            <!-- <td>{{user?.totalWorkingHours | formatHours}}</td> -->
            <!-- <td>{{user?.totalOvertimeHours| formatHours }}</td> -->

            <td *ngIf="!hideColumns" [@fadeIn]>
              <button class="btn btn-action mr-2" data-toggle="modal" data-target="#addUserModal" (click)="selectUser(user)"> <i class="fa-solid fa-user-pen"></i> </button>
              <button class="btn btn-delete" title="Delete user" data-toggle="modal" data-target="#deleteUserModal" (click)="selectUser(user)"> <i class="fa-solid fa-trash-can"></i> </button>
            </td>


          </tr>
        </tbody>
      </table>


      <div class="wrapper" *ngIf="loadUsers" [@fadeIn]>
        <div class="spinner"></div>
      </div>


      <!-- <div class="pagination-controls">
        <pagination-controls (pageChange)="loadPage($event)" [maxSize]="7" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="">
        </pagination-controls>
      </div> -->
    </div>

  </div>

</div>




<!-- add user Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{user?.id ? 'Edit' : 'Add new'}} user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="form-group col-md-6">
            <label for="">First name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" oninput="this.value = this.value.replace(/[^a-zA-Z\.]/g, '').replace(/(\.*)\./g, '$1');" placeholder="Enter first name" autocomplete="off">
          </div>

          <div class="form-group col-md-6">
            <label for="">Last name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" oninput="this.value = this.value.replace(/[^a-zA-Z\.]/g, '').replace(/(\.*)\./g, '$1');" placeholder="Enter last name" autocomplete="off">
          </div>

          <div class="form-group col-md-6">
            <label for="idNumber">ID number <small class="float-right red-text ml-3" *ngIf="idInvalid" [@fadeIn]>enter a valid ID number</small> </label>
            <input type="text" class="form-control" name="idNumber" [(ngModel)]="user.idNumber" (ngModelChange)="idInvalid = false" (ngModelDebounceChange)="validateId()" maxlength="8" placeholder="Enter ID number" pattern="[0-9]*"
              inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9\.]/g, '').replace(/^0+(?!$)/,'').replace(/(\.*)\./g, '$1');" autocomplete="off">
          </div>

          <div class="form-group col-md-6">
            <label for="phoneNumber">Phone number <small class="float-right red-text ml-3" *ngIf="phoneInvalid" [@fadeIn]>enter a valid phone number</small></label>
            <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="user.phoneNumber" placeholder="Enter phone number eg : 254703 ****" (ngModelChange)="phoneInvalid = false" (ngModelDebounceChange)="validatedPhoneNumber()"
              [maxlength]="12" pattern="[0-9]*" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9\.]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');" autocomplete="off">
          </div>

          <div class="form-group col-md-6">
            <label for="email">Email <small class=" float-right red-text ml-3" *ngIf="emailInvalid" [@fadeIn]>enter a valid email</small> </label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" (ngModelChange)="emailInvalid = false" (ngModelDebounceChange)="validateEmail()" placeholder="Enter email" autocomplete="off">
          </div>

          <div class="form-group col-md-6" *ngIf="isLoggedInUser">
            <label for="text">Login password</label>
            <input type="text" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Enter new password" autocomplete="off">
          </div>

          <div class="form-group col-md-6">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="user.gender">
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="role">Department</label>
            <select class="form-control" name="role" [(ngModel)]="user.department">
              <option value="null" hidden>Select a department</option>
              <option value="IT">IT</option>
              <option value="ACCOUNTS">Accounts</option>
              <option value="SALES_MARKETING">Sales and marketing</option>
              <option value="BANQUET">Banquet</option>
              <option value="KITCHEN">Kitchen</option>
              <option value="HOUSE_KEEPING">House-keeping</option>

            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="user.role">
              <option value="ADMIN">Admin</option>
              <option value="USER">User</option>
            </select>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-submit" data-dismiss="modal" [disabled]="!user.firstName || !user.lastName || !user.phoneNumber || !user.email || idInvalid || emailInvalid || phoneInvalid || (isLoggedInUser && !user.password)"
          (click)="!submitting && ( user.id ? editUser() :addUser())"> <i class="fa-solid fa-spinner fa-spin-pulse fa-lg mr-2 d-inline-block" *ngIf="submitting"></i>
          {{ submitting ? 'Submitting' : 'Submit'}}</button>
      </div>
    </div>
  </div>
</div>



<!-- delete item Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete user <strong>{{user?.name}}</strong> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-delete" data-dismiss="modal" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>
