<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand">
    <img src="assets/images/logo.png" alt="logo">
    <img src="assets/images/logo-wordmark.png" alt="logo">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars-staggered"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" data-toggle="collapse" data-target="#navbarNavAltMarkup" [routerLink]="'/'">Clock <span class="sr-only">(current)</span></a>
      <a *ngIf="!isLoggedIn" [@fadeIn] class="nav-item nav-link" data-toggle="collapse" data-target="#navbarNavAltMarkup" [routerLink]="'admin/login'">Login</a>


      <a *ngIf="isLoggedIn" [@fadeIn] class="nav-item nav-link" data-toggle="collapse" data-target="#navbarNavAltMarkup" [routerLink]="'admin/attendance'">Attendance</a>
      <a *ngIf="isLoggedIn" [@fadeIn] class="nav-item nav-link" data-toggle="collapse" data-target="#navbarNavAltMarkup" [routerLink]="'admin/users'">Users</a>
      <a *ngIf="isLoggedIn" [@fadeIn] class="nav-item nav-link nav-link-log-out" data-toggle="collapse" data-target="#navbarNavAltMarkup" (click)="logOut()">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
  </div>
</nav>
